@import url(https://fonts.googleapis.com/css?family=Space+Mono:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);

* {
  font-family: Space Mono;
  color: #333333;
}

/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .header {
    font-size: 1.5em;
  }

  .message__title {
    font-size: 3.2em;
  }

  .message__text {
    font-size: 1.3em;
  }

  .btn {
    font-size: 0.8em;
    line-height: 2em;
    padding: 5%;
    width: 200px;
  }

  .footer__text {
    font-size: 1em;
  }
}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header {
    font-size: 1.5em;
  }

  .message__title {
    font-size: 3.7em;
  }

  .message__text {
    font-size: 1.4em;
  }

  .btn {
    font-size: 1em;
    line-height: 1.2em;
    padding: 5%;
    width: 220px;
  }

  .footer__text {
    font-size: 1.1em;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    font-size: 2em;
  }

  .message__title {
    font-size: 3.3em;
  }

  .message__text {
    font-size: 1.4em;
  }

  .message__img {
    width: 65%;
  }

  .btn {
    font-size: 1em;
    line-height: 0.2em;
    padding: 5%;
    width: 210px;
  }

  footer {
    margin: 18% 0 5%;
  }

  .footer__text {
    font-size: 1.2em;
  }
}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 90%;
  }

  .header {
    font-size: 1.4em;
  }
  .header__container {
    margin: 5% 0 0%;
  }
  .message__title {
    font-size: 3.3em;
  }

  .message__text {
    font-size: 1.4em;
    padding-right: 10%;
  }

  .message__img {
    width: 90%;
  }

  .btn {
    font-size: 1em;
    line-height: 0.7em;
    padding: 5%;
    width: 210px;
  }

  footer {
    margin: 9% 0 1%;
  }

  .footer__text {
    font-size: 1em;
  }
}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  .container {
    width: 90%;
  }

  .header {
    font-size: 1.7em;
  }
  .header__container {
    margin: 5% 0 0%;
  }
  .message__title {
    font-size: 4em;
  }

  .message__text {
    font-size: 1.8em;
    padding-right: 10%;
  }

  .message__img {
    width: 80%;
  }

  .btn {
    font-size: 1.2em;
    line-height: 2em;
    padding: 3%;
    width: 250px;
    height: 70px;
  }

  footer {
    margin: 10% 0 1%;
  }

  .footer__text {
    font-size: 1.3em;
  }
}
