@import url(https://fonts.googleapis.com/css?family=Space+Mono:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900);



*{
    font-family: Space Mono;
    color: black;
}